body {
    font-family: Tahoma, Geneva, sans-serif !important;
    background-color: #6994ab;
    min-width:320px;
}



.nav-1 {
    /*background-color: #004b73 !important;*/
    background-color: #28546b;
}

.nav-2 {
    padding-left: 10%;
}

a {
    font-weight: bold;
    font-size: 20px;
}

.main-container {
    padding-top: 2em;
}



.member-container {
    margin-bottom: 2em;    
}

.member-title-container {
    padding-top: 1em;
    text-align: center;
    background-color: #004E72;
    padding-bottom: 20%;
}

.member-title {
    color: white;
    font-size: 1.5em;
}

.member-title-img-container {
    padding: 0;
    border: 3px solid #004E72;
    background-color: white;
    border-radius: 10px;
}

.member-img {
    background-color: white;
    overflow:hidden;
    object-fit: contain;
}




.member-detail-left {
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom: 3px solid #004E72;
    border-top: 3px solid #004E72;
    border-left: 3px solid #004E72;
    background-color:#D1DBE4;
}

.member-priority-container {
    border-right: 1px solid #004E72;
    margin-bottom: .2em;
    margin-top: .5em;
    height: 95%;
}




.member-detail-right {
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-top: 3px solid #004E72;
    border-bottom: 3px solid #004E72;
    border-right: 3px solid #004E72;
    background-color:#D1DBE4;
}

.member-concerns-container {
    margin-bottom: .2em;
    margin-top: .5em;
    height: 95%;
}
 


.member-detail-title-text-container {
    padding-top: .5em;
}

.member-detail-title-text {
    color: #004E72;
    font-size: 1.5em;
}




.member-detail-description-container {
    margin-top: 1em;

}
.member-detail-list {
    padding-left: 1em;
}

.footer-custom {
    background-color: #28546b !important;
    color: white !important;
}


/* for mobile view*/
@media only screen and (max-width: 767px) {
    .member-detail-left {
        margin-bottom: 1em;
        margin-top:1em;
        border-radius: 10px;
        border: 3px solid #004E72;
        
    }
    .member-priority-container {
        border-right: none;
    }
    .member-detail-right {
        border-radius: 10px;
        border: 3px solid #004E72;
    } 
}


/* test.html*/
.question{
    padding: 2em;
    background-color: #d3e8ff;
}

.question h3 {
    margin-bottom: 1em;
}

.question-options{
    margin: 1em;
    padding-left: 5em;
}

.question-buttons {
    margin-left: 1em;
    margin-bottom: 1em;
}

/* for mobile view*/
@media only screen and (max-width: 767px) {
    .question-options {
       padding-left: 1em;
        
    }
}

